.DS_Store
.vscode
# Build artifacts
*node_modules*
.pnpm-store/
*__pycache__*
build/
dist/
target/
src-tauri/binaries/
ffmpeg/
.ffmpeg/

# App specifics
next/
*.mov
*.prof
.ruff_cache
app/public/preview*.png
tauri_build.log
/tmp/cyclemetry.sock
